{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{{ pagename }}</h1>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <form action="" method="post">{% csrf_token %}
                    <table>
{#                        {{ form }}#}
                        <tr><td>{{ form.name }}</td></tr>
                        <tr>
                            <td>
                                {{ form.lang }}
                                <a href="{% url 'lang-add' %}"> <i class="fa-solid fa-circle-plus"></i></a>
                            </td>
                        </tr>
                        <tr><td>{{ form.code }}</td></tr>
                    </table>
                    <button type="submit">Сохранить</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}